$color-primary: rgb(231, 233, 234);
$color-primary-hover: rgb(200, 200, 200);
$color-disabled: rgb(189, 188, 188);
$color-secondary: rgb(113, 118, 123);
$color-border: rgb(48, 51, 54);
$color-twitter: rgb(29, 155, 240);
$color-twitter-hover: rgb(26, 145, 218);