@import '../../../styles/variables.scss';

.action_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    font-size: 1rem;
    width: 100%;
    background-color: $color-twitter;
    padding: .7rem 1rem;
    transition: background-color .1s ease-in-out;

    &:hover {
        background-color: $color-twitter-hover;
    }

    &:disabled {
        background-color: $color-disabled !important;
        cursor: not-allowed;
    }
}