@import '../../../../../../styles/variables.scss';


.select_month, .select_day, .select_year {
    position: relative;

    select {
        padding: 1rem 1rem;
        border-radius: 5px;
        outline: 1px solid rgb(83, 100, 113);
        border: none;
        background-color: transparent;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: border-color .2s ease-in-out;

        &:focus {
            outline: 2px solid $color-twitter;
        }

        &:focus ~ .arrow {
            color: $color-twitter;
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        pointer-events: none;
        z-index: 0;
        color: rgb(83, 100, 113) ;
    }

}

.select_month {
    width: 50%;

    select {
        width: 100%;
    }
}

.select_day {
    width: 25%;

    select {
        width: 100%;
    }
}

.select_year {
    width: 25%;

    select {
        width: 100%;
    }
}